.alert-warning {
  color: #fff;
}

.table-responsive,
.table-bordered {
  border-radius: 5px;
  border: 2px solid #a8d727;
}

.table-responsive .table-bordered {
  border: 0;
  border-radius: 0;
}

.table-bordered thead th,
.table-bordered thead td,
.table-bordered th,
.table-bordered td {
  border: 1px solid #151515;
  background: #000;
  color: #fff;
}

.table-bordered a,
.table-bordered i {
  color: #fff;
}

.table-bordered a:hover {
  color: #a8d727;
}

.table,
#module-ttproductwishlist-mywishlist th {
  color: #fff;
}

#header {
  background: #000;
  padding-bottom: 20px;
  margin: 0;
}

select,
.dropdown select,
.product-variants > .product-variants-item select {
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 0;
  border: 1px solid #dfdfdf;
  font-size: 12px;
  padding: 2px;
  padding-right: 2rem;
  color: #fff;
  text-indent: 4px;
  border-radius: 5px;
  appearance: none;
}

select option,
.dropdown select option,
.product-variants > .product-variants-item select option {
  color: #000;
  @apply font-fallback;
}

select.form-control:not([size]):not([multiple]) {
  background-position: 95% 7px;
}


.socials-tiles{
  gap: 24px;
  @apply !flex items-center flex-wrap !pl-0 !mt-10;
}

.socials-tiles li{
  @apply block
}

.socials-tiles li a{
  background-size: 200% 200%;
  background-position: 0% 0%;
  @apply flex items-center justify-center p-5 tablet:p-8 bg-black bg-gradient-to-t from-[#A8D72780] via-black to-black rounded-[10px] transition-all duration-200;
}

.socials-tiles li a:hover{
  background-position: 100% 100%;
}

.socials-tiles li a svg{
  @apply !w-full !h-full max-h-10 tablet:max-h-[74px]
}