@import "bootstrap-touchspin.css";
@import "button.css";
@import "go-to-top.css";

@import "alert.css";

@import "data-table.css";

@import "ybc_instagram.css";

/* @import "advanced-cms.css"; */

@import "overide.css";


@tailwind base;

@tailwind components;

@tailwind utilities;

body{
}

h1,
h2{
  @screen phone-wide{

  }
}

h3,
h4,
h5,
h6{
  @screen phone-wide{

  }
}

p {

}


@responsive {
  .h1,
  .h2{

  }
  
  .h3,
  .h4,
  .h5,
  .h6{

  }
  
  .p {

  }
}



.alert-warning{
  color: #fff;
}

.table-responsive,
.table-bordered{
  border-radius: 5px;
  border: 2px solid #A8D727;
}

.table-responsive .table-bordered{
  border: 0;
  border-radius: 0;
} 

.table-bordered thead th,
.table-bordered thead td,
.table-bordered th, 
.table-bordered td{
  border: 1px solid #151515;
  background: #000000;
  color: #fff;
}

.table-bordered a,
.table-bordered i{
  color: #fff;
}

.table-bordered a:hover{
  color: #A8D727;
}

.table,
#module-ttproductwishlist-mywishlist th{
  color: #fff;
}





#header{
  background: #000;
  padding-bottom: 20px;
  margin: 0;
}



select,
.dropdown select,
.product-variants > .product-variants-item select{
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 0px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  font-size: 12px;
  padding: 2px;
  padding-right: 2rem;
  color: #fff;
  text-indent: 4px;
  border-radius: 5px;
  appearance: none;
}

select option,
.dropdown select option,
.product-variants > .product-variants-item select option{
  color: #000;
  @apply font-fallback;
}

select.form-control:not([size]):not([multiple]){
  background-position: 95% 7px;
}

.footer-container li a{
  max-width: 300px;
  display: block;
}



.section-3 .row:nth-child(2n+3){
  @apply flex-grow-0 flex-shrink-0 basis-[85%] mb-[10px]
  }
  
  .section-3 .row:nth-child(2n+2){
  @apply flex-grow-0 flex-shrink-0 basis-1/5 mb-[10px]
  }

.section-5 .row:nth-child(2n+3){
  @apply flex-shrink-0 flex-grow-0 basis-[85%] phablet:basis-[40%] py-0 px-5 mx-0 mb-[10px] desktop:pr-1.5 desktop-wide:pr-5
}


.section-5 .row:nth-child(2n+2){
  @apply flex-shrink-0 flex-grow-0 basis-[15%] phablet:basis-[10%] py-0 mx-0 flex justify-center flex-col mb-[10px]
}

.section-5 .row:nth-child(2n+2) img{
  @apply max-w-[50px]
}

div#fmm_table_wrapper tbody#fmm_table_body a{
  @apply hover:text-main transition;
}
#fmm_table_wrapper table#fmm_table thead th{
  @apply font-normal
}

div#fmm_table_wrapper tbody#fmm_table_body{
  @apply text-white font-normal text-sm tablet:text-base
}

#fmm_table_wrapper{
  @apply border-2 border-main border-solid rounded-[4px];
}

#fmm_table_wrapper table.dataTable#fmm_table{
  @apply border-0;
}

#fmm_table_body .number{
  @apply min-w-max;
}

#fmm_table_body .number .minus{
  @apply align-sub p-0 px-1 text-xl tablet:text-2xl text-white hover:text-primary select-none duration-75
}

#fmm_table_body .number .qty_id{
  @apply text-xl w-10 text-center text-gray-dark;
}

#fmm_table_body .number .plus{
  @apply align-sub p-0 px-1 text-xl tablet:text-2xl text-white hover:text-primary select-none duration-75;
}

#fmm_table_body .btn.btn-info{
  @apply rounded-[4px] bg-main px-4 py-3 hover:bg-black transition active:bg-black;
}

#fmm_table_body tr td a{
  @apply max-w-3xl whitespace-normal 
}

#fmm_table_body tr td div{
  @apply max-w-3xl whitespace-normal
}

#fmm_table_body tr td div span span{
  @apply mr-2;
}

#fmm_table_body tr td div #select_fmm{
  @apply mr-5 mb-2 text-ellipsis indent-0 pl-1;
}

.btn-info:active, .btn-info:focus{
  @apply bg-main
}

ul.dtr-details li{
  @apply flex justify-between items-center
}

#fmm_table_wrapper.dataTables_wrapper #fmm_table .options{
  @apply block
}

#fmm_table_wrapper.dataTables_wrapper #fmm_table .options2{
  @apply hidden
}

#fmm_table_wrapper.dataTables_wrapper #fmm_table.collapsed .options{
  @apply hidden
}

#fmm_table_wrapper.dataTables_wrapper #fmm_table.collapsed .options2{
  @apply block
}


#fmm_table_wrapper.dataTables_wrapper table#fmm_table li[data-dtr-index="7"] .dtr-title{
  @apply hidden
}

#fmm_table_wrapper.dataTables_wrapper table#fmm_table li[data-dtr-index="2"] .dtr-title{
  @apply hidden
}

#fmm_table_wrapper.dataTables_wrapper table#fmm_table li[data-dtr-index="7"] .dtr-data{
  @apply ml-auto
}

table.dataTable.display tbody tr.child td{
  @apply border-gray-blackish
}
