.footer-container li a {
  max-width: 300px;
  display: block;
}

.section-3 .row:nth-child(2n + 3) {
  @apply mb-[10px] flex-shrink-0 flex-grow-0 basis-[85%];
}

.section-3 .row:nth-child(2n + 2) {
  @apply mb-[10px] flex-shrink-0 flex-grow-0 basis-1/5;
}

.section-5 .row:nth-child(2n + 3) {
  @apply mx-0 mb-[10px] flex-shrink-0 flex-grow-0 basis-[85%] py-0 px-5 phablet:basis-[40%] desktop:pr-1.5 desktop-wide:pr-5;
}

.section-5 .row:nth-child(2n + 2) {
  @apply mx-0 mb-[10px] flex flex-shrink-0 flex-grow-0 basis-[15%] flex-col justify-center py-0 phablet:basis-[10%];
}

.section-5 .row:nth-child(2n + 2) img {
  @apply max-w-[50px];
}

div#fmm_table_wrapper tbody#fmm_table_body a {
  @apply transition hover:text-main;
}

#fmm_table_wrapper table#fmm_table thead th {
  @apply font-normal;
}

div#fmm_table_wrapper tbody#fmm_table_body {
  @apply text-sm font-normal text-white tablet:text-base;
}

#fmm_table_wrapper {
  @apply rounded-[4px] border-2 border-solid border-main;
}

#fmm_table_wrapper table.dataTable#fmm_table {
  @apply border-0;
}

#fmm_table_body .number {
  @apply min-w-max;
}

#fmm_table_body .number .minus {
  @apply select-none p-0 px-1 align-sub text-xl text-white duration-75 hover:text-primary tablet:text-2xl;
}

#fmm_table_body .number .qty_id {
  @apply w-10 text-center text-xl text-gray-dark;
}

#fmm_table_body .number .plus {
  @apply select-none p-0 px-1 align-sub text-xl text-white duration-75 hover:text-primary tablet:text-2xl;
}

#fmm_table_body .btn.btn-info {
  @apply rounded-[4px] bg-main px-4 py-3 transition hover:bg-black active:bg-black;
}

#fmm_table_body tr td a {
  @apply max-w-2xl whitespace-normal;
}

#fmm_table_body tr td div {
  @apply max-w-2xl whitespace-normal;
}

#fmm_table_body tr td div span span {
  @apply mr-2;
}

#fmm_table_body tr td div #select_fmm {
  @apply mr-5 mb-2 max-w-[250px] text-ellipsis pl-1  indent-0;
}

.btn-info:active,
.btn-info:focus {
  @apply bg-main;
}

ul.dtr-details li {
  @apply flex items-center justify-between;
}

#fmm_table_wrapper.dataTables_wrapper #fmm_table .options {
  @apply flex;
}

#fmm_table_wrapper.dataTables_wrapper #fmm_table .options2 {
  @apply hidden;
}

#fmm_table_wrapper.dataTables_wrapper #fmm_table.collapsed .options {
  @apply hidden;
}

#fmm_table_wrapper.dataTables_wrapper #fmm_table.collapsed .options2 {
  @apply flex;
}

#fmm_table_wrapper.dataTables_wrapper table#fmm_table li[data-dtr-index="7"] .dtr-title {
  @apply hidden;
}

#fmm_table_wrapper.dataTables_wrapper table#fmm_table li[data-dtr-index="2"] .dtr-title {
  @apply hidden;
}

#fmm_table_wrapper.dataTables_wrapper table#fmm_table li[data-dtr-index="7"] .dtr-data {
  @apply ml-auto;
}

table.dataTable.display tbody tr.child td {
  @apply border-gray-blackish;
}

#fmm_table_wrapper.dataTables_wrapper table#fmm_table.dataTable > tbody > tr.child ul.dtr-details > li {
  @apply border-0;
}

#fmm_table_wrapper.dataTables_wrapper #fmm_table.collapsed thead tr [style="display: none;"].select-all-chk {
  display: block !important;
  @apply absolute right-2 top-4 justify-end p-0;
}

#fmm_table.collapsed [style="display: none;"].select-all-chk input {
  @apply ml-0;
}

#fmm_table.collapsed [style="display: none;"].select-all-chk p {
  @apply hidden;
}

#fmm_table.collapsed [style="display: none;"].select-all-chk .col-title {
  @apply hidden;
}

#fmm_table .price {
  @apply flex flex-col;
}

#fmm_table.collapsed .price {
  @apply flex-row;
}
.header-nav .dropdown svg.expand-icon {
  @apply inline-block rotate-0 transform fill-current align-sub transition;
}

.header-nav .dropdown.open svg.expand-icon {
  @apply rotate-180;
}

.header-nav .currency-selector.dropdown.open button {
  @apply bg-black;
}

.header-nav select.link {
  @apply hidden;
}

.header-nav .ps_languageselector,
.header-nav .ps_currencyselector {
  @apply hidden tablet-narrow:block;
}

div.inpost-shipping-container {
  @apply bg-transparent;
}

div.inpost-shipping-container .btn {
  @apply whitespace-normal;
}

.order-message-form a {
  @apply hover:text-main;
}

[data-icons-swiper] .swiper-slide {
  @apply flex items-center justify-center;
}

[data-icons-swiper] .swiper-slide .swiper-slide_container {
  @apply flex flex-nowrap items-center justify-center px-5 tablet:px-10;
}

[data-icons-swiper] .swiper-slide .swiper-slide_container svg {
  @apply mr-2 aspect-square w-8 shrink-0 tablet:mr-5 tablet:w-10;
}

[data-icons-swiper] .swiper-slide .swiper-slide_container p {
  @apply text-left text-xs text-white tablet:max-w-[200px] tablet:text-base;
}

.swiper-nav-container {
  @apply absolute top-0 bottom-0 z-10 flex items-center;
}

.swiper-icons-prev,
.swiper-icons-next {
  @apply w-5 cursor-pointer fill-[#666] transition duration-300 desktop:hidden;
}

.swiper-icons-prev.swiper-button-disabled,
.swiper-icons-next.swiper-button-disabled {
  @apply !cursor-default opacity-25;
}

[data-categories-swiper]:not(.swiper-container-initialized) .swiper-slide {
  @apply basis-full phablet:basis-1/2 tablet-narrow:basis-1/3;
}

.top-logo {
  @apply !w-[200px] phone-wide:!w-auto;
}

#search_block_top #searchbox {
  @apply !h-10 !p-1 tablet:!h-[50px] tablet:!p-[10px] tablet-narrow:tablet:!h-[62px];
}

#search_block_top .btn.button-search {
  @apply !right-1 !min-w-0 !px-2 !py-[7px] tablet:!right-[9px] tablet:!min-w-[40px] tablet:!p-[10px];
}

#search_category {
  @apply !h-[34px] tablet:!h-10;
}

.page-index #header {
  @apply !pb-0 tablet:!pb-5;
}

.pay-methods {
  @apply flex flex-wrap;
}

.pay-methods .pay-methods__item-inner {
  @apply h-full;
}

.pay-methods__item-inner label {
  @apply m-0 h-full items-center justify-center p-2 tablet:p-3;
}

.pay-methods__item-inner label .pay-methods__img {
  @apply !max-h-full;
}

.payMethod {
  @apply max-w-[calc(50%_-_6px)];
}

.payMethod.payMethodEnable {
  @apply border border-solid border-[#313131] !bg-[#313131]/20 hover:!bg-[#313131];
}

#payment-option-2-additional-information {
  @apply flex flex-col;
}

.payment-logos svg {
  @apply h-10 w-auto shrink-0 rounded-[5px] bg-white tablet:mb-5;
}
[data-banner-swiper] .carousel-control {
  @apply pointer-events-none z-10 opacity-0;
}
[data-banner-swiper]:hover .carousel-control {
  @apply tablet:pointer-events-auto tablet:opacity-100;
}
[data-banner-swiper] .carousel-control.left {
  @apply translate-x-8;
}
[data-banner-swiper] .carousel-control.right {
  @apply -translate-x-8;
}
[data-banner-swiper]:hover .carousel-control.left {
  @apply right-auto translate-x-0;
}
[data-banner-swiper]:hover .carousel-control.right {
  @apply left-auto translate-x-0;
}

[data-payments-swiper].swiper .swiper-slide {
  @apply transition-opacity tablet:opacity-0;
}
[data-payments-swiper].swiper .swiper-slide.swiper-slide-visible {
  @apply opacity-100;
}

[data-payments-swiper] .swiper-slide:not(.swiper-slide-visible ~ .swiper-slide-visible),
[data-payments-swiper] .swiper-slide-next + .swiper-slide-visible + .swiper-slide-visible ~ .swiper-slide-visible {
  @apply tablet:!opacity-0;
}

.stickers-box-list .img-sticker img {
  @apply !border-0 !border-none !bg-transparent;
}
.tax-shipping-delivery-label .gm_omniprice {
  @apply hidden;
}
.gm_omniprice {
  @apply mb-4 rounded-md border  border-main bg-black p-3;
}

.product-layout {
  grid-template-columns: min(60%, 906px) 40%;
  @apply flex flex-col tablet:mb-[50px] tablet:grid;
}

.descriptions-container .description-title {
  @apply mb-[50px] text-xl text-white tablet:text-2xl;
}

.descriptions-container .description-title::after {
  @apply mt-[14px] block h-px w-[122px] bg-main content-[''];
}

.descriptions-container * {
  @apply text-white;
}

.descriptions-container #description p,
.descriptions-container #description span,
.descriptions-container #description li {
  @apply !text-base;
}

.descriptions-container #description iframe {
  @apply !max-w-full;
}

.descriptions-container #description a {
  @apply !text-base hover:!text-main;
}

.descriptions-container #product-details p,
.descriptions-container #product-details span,
.descriptions-container #product-details li {
  @apply text-sm tablet:text-base;
}

.descriptions-container dl.data-sheet {
  @apply flex flex-wrap rounded-[10px] border border-gray-normal;
}
.descriptions-container dl.data-sheet :last-of-type {
  @apply !border-b-0;
}

.descriptions-container dl.data-sheet dt {
  @apply flex w-[120px] items-center border-b border-b-gray-normal py-2.5 px-2.5 text-main tablet:w-[170px] tablet:py-5 tablet:px-5;
}

.descriptions-container dl.data-sheet dd {
  @apply flex w-[calc(100%_-_120px)] items-center border-b border-b-gray-normal py-2.5 pr-2.5 text-white tablet:w-[calc(100%_-_170px)] tablet:py-5 tablet:pr-5;
}

.descriptions-container ul {
  @apply mt-5 !list-none;
}

.descriptions-container ul li {
  @apply relative mb-5 pl-10 text-base;
}

.descriptions-container ul li::before {
  content: url('data:image/svg+xml,<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="Group"><path id="Vector" d="M14 26.5C20.9036 26.5 26.5 20.9036 26.5 14C26.5 7.09644 20.9036 1.5 14 1.5C7.09644 1.5 1.5 7.09644 1.5 14C1.5 20.9036 7.09644 26.5 14 26.5Z" stroke="%23A8D727" stroke-width="1.5"/><path id="Vector_2" d="M9.625 14.625L12.125 17.125L18.375 10.875" stroke="%23A8D727" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></g></svg>');
  @apply absolute left-0 top-[calc(50%_-_15px)];
}

[data-paypal-source-page="product"] {
  @apply !ml-0 !w-full !pl-0 desktop:!pl-[69px];
}

[paypal-button-container] {
  @apply !w-full;
}

#product nav.breadcrumb {
  @apply mb-0 tablet:mb-5;
}

#product .product-layout .wishlist button {
  @apply !block;
}

#product .product-layout .wishlist a {
  @apply !hidden;
}

.product-information .product-description-short p {
  @apply text-sm text-white;
}

[data-product-img-swiper] .swiper-pagination .swiper-pagination-bullet {
  @apply !ml-0 !mr-1 h-0.5 w-5 rounded-full bg-[#828282] opacity-50 !transition-all tablet:h-[3px] tablet:w-[30px];
}

[data-product-img-swiper] .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply ml-0 mr-1 h-[3px] w-[35px] bg-main opacity-100 tablet:h-1 tablet:w-[45px];
}

[data-product-modal] {
  @apply pointer-events-none fixed inset-0 z-[99999999] flex flex-col overflow-hidden bg-black/80 opacity-0 transition duration-500;
}

[data-product-modal].active {
  @apply !pointer-events-auto !opacity-100;
}

[data-modal-thumbnails-swiper] .swiper-slide-thumb-active::before {
  @apply absolute inset-0 border-2 border-main !opacity-100;
}

[data-product-modal-swiper]:hover [data-modal-slider-next],
[data-product-modal-swiper]:hover [data-modal-slider-prev],
[data-product-img-swiper]:hover [data-product-img-next],
[data-product-img-swiper]:hover [data-product-img-prev] {
  @apply opacity-100;
}

[data-product-modal-swiper]:hover [data-modal-slider-next].swiper-button-disabled,
[data-product-modal-swiper]:hover [data-modal-slider-prev].swiper-button-disabled,
[data-product-img-swiper]:hover [data-product-img-next].swiper-button-disabled,
[data-product-img-swiper]:hover [data-product-img-prev].swiper-button-disabled {
  @apply pointer-events-none !opacity-20;
}

[data-modal-slider-next],
[data-modal-slider-prev],
[data-product-img-next],
[data-product-img-prev] {
  @apply absolute top-[calc(50%_-_16px)] z-20 hidden rounded-full border border-solid border-white bg-transparent opacity-0 transition duration-300 hover:border-main hover:bg-main tablet:top-[calc(50%_-_25px)] tablet:block;
}

[data-modal-slider-next]:hover svg,
[data-modal-slider-prev]:hover svg,
[data-product-img-next]:hover svg,
[data-product-img-prev]:hover svg {
  @apply fill-black;
}

.quickview [data-product-img-swiper] .swiper-slide {
  @apply !cursor-auto;
}

.quickview .image-zoom-icon {
  @apply !hidden;
}

[data-product-img-swiper] .image-zoom-icon {
  @apply pointer-events-none absolute bottom-5 right-5 z-10 hidden tablet:block desktop:bottom-[30px] desktop:right-[30px];
}

[aria-expanded="true"].variant-select-toggle {
  @apply !rounded-b-none !border-main;
}

[aria-expanded="true"].variant-select-toggle ~ svg {
  @apply rotate-180;
}

#variants [aria-expanded="true"].collapsing {
  @apply z-[130];
}

.product-quantity .input-group-btn-vertical .btn {
  @apply !border-0 !bg-transparent;
}

.product-quantity .input-group-btn-vertical .btn i {
  @apply !left-0 text-[#64635D];
}

.product-quantity .input-group-btn-vertical .btn:hover i {
  @apply !text-white;
}

.product-quantity .input-group-btn-vertical .btn i.touchspin-up {
  @apply !top-[6px];
}

.product-quantity .input-group-btn-vertical .btn i.touchspin-down {
  @apply !top-[-2px];
}

#product .product-add-fixed {
  @apply fixed bottom-0 left-0 right-0 z-[999] bg-gray-normal px-5 py-2.5 tablet:static tablet:bg-black tablet:p-0;
}

.product-add-fixed {
  @apply flex w-full items-center;
}

#product #smartsupp-widget-container [data-testid="widgetButtonFrame"] {
  @apply !bottom-20 tablet:!bottom-6;
}

#product .go-to-top {
  @apply !mb-36 tablet:!mb-24;
}

.scrollbar-none {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 10px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #000000;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #a8d727;
  border-radius: 8px;
  border: 2px solid #000000;
}

@supports not selector(::-webkit-scrollbar) {
  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: #000000 #a8d727;
  }
}
