.footer-container li a {
  max-width: 300px;
  display: block;
}

.section-3 .row:nth-child(2n + 3) {
  @apply mb-[10px] flex-shrink-0 flex-grow-0 basis-[85%];
}

.section-3 .row:nth-child(2n + 2) {
  @apply mb-[10px] flex-shrink-0 flex-grow-0 basis-1/5;
}

.section-5 .row:nth-child(2n + 3) {
  @apply mx-0 mb-[10px] flex-shrink-0 flex-grow-0 basis-[85%] py-0 px-5 phablet:basis-[40%] desktop:pr-1.5 desktop-wide:pr-5;
}

.section-5 .row:nth-child(2n + 2) {
  @apply mx-0 mb-[10px] flex flex-shrink-0 flex-grow-0 basis-[15%] flex-col justify-center py-0 phablet:basis-[10%];
}

.section-5 .row:nth-child(2n + 2) img {
  @apply max-w-[50px];
}

div#fmm_table_wrapper tbody#fmm_table_body a {
  @apply transition hover:text-main;
}

#fmm_table_wrapper table#fmm_table thead th {
  @apply font-normal;
}

div#fmm_table_wrapper tbody#fmm_table_body {
  @apply text-sm font-normal text-white tablet:text-base;
}

#fmm_table_wrapper {
  @apply rounded-[4px] border-2 border-solid border-main;
}

#fmm_table_wrapper table.dataTable#fmm_table {
  @apply border-0;
}

#fmm_table_body .number {
  @apply min-w-max;
}

#fmm_table_body .number .minus {
  @apply select-none p-0 px-1 align-sub text-xl text-white duration-75 hover:text-primary tablet:text-2xl;
}

#fmm_table_body .number .qty_id {
  @apply w-10 text-center text-xl text-gray-dark;
}

#fmm_table_body .number .plus {
  @apply select-none p-0 px-1 align-sub text-xl text-white duration-75 hover:text-primary tablet:text-2xl;
}

#fmm_table_body .btn.btn-info {
  @apply rounded-[4px] bg-main px-4 py-3 transition hover:bg-black active:bg-black;
}

#fmm_table_body tr td a {
  @apply max-w-2xl whitespace-normal;
}

#fmm_table_body tr td div {
  @apply max-w-2xl whitespace-normal;
}

#fmm_table_body tr td div span span {
  @apply mr-2;
}

#fmm_table_body tr td div #select_fmm {
  @apply mr-5 mb-2 max-w-[250px] text-ellipsis pl-1  indent-0;
}

.btn-info:active,
.btn-info:focus {
  @apply bg-main;
}

ul.dtr-details li {
  @apply flex items-center justify-between;
}

#fmm_table_wrapper.dataTables_wrapper #fmm_table .options {
  @apply flex;
}

#fmm_table_wrapper.dataTables_wrapper #fmm_table .options2 {
  @apply hidden;
}

#fmm_table_wrapper.dataTables_wrapper #fmm_table.collapsed .options {
  @apply hidden;
}

#fmm_table_wrapper.dataTables_wrapper #fmm_table.collapsed .options2 {
  @apply flex;
}

#fmm_table_wrapper.dataTables_wrapper
  table#fmm_table
  li[data-dtr-index='7']
  .dtr-title {
  @apply hidden;
}

#fmm_table_wrapper.dataTables_wrapper
  table#fmm_table
  li[data-dtr-index='2']
  .dtr-title {
  @apply hidden;
}

#fmm_table_wrapper.dataTables_wrapper
  table#fmm_table
  li[data-dtr-index='7']
  .dtr-data {
  @apply ml-auto;
}

table.dataTable.display tbody tr.child td {
  @apply border-gray-blackish;
}

#fmm_table_wrapper.dataTables_wrapper
  table#fmm_table.dataTable
  > tbody
  > tr.child
  ul.dtr-details
  > li {
  @apply border-0;
}

#fmm_table_wrapper.dataTables_wrapper
  #fmm_table.collapsed
  thead
  tr
  [style='display: none;'].select-all-chk {
  display: block !important;
  @apply absolute right-2 top-4 justify-end p-0;
}

#fmm_table.collapsed [style='display: none;'].select-all-chk input {
  @apply ml-0;
}

#fmm_table.collapsed [style='display: none;'].select-all-chk p {
  @apply hidden;
}

#fmm_table.collapsed [style='display: none;'].select-all-chk .col-title {
  @apply hidden;
}

#fmm_table .price {
  @apply flex flex-col;
}

#fmm_table.collapsed .price {
  @apply flex-row;
}
.header-nav .dropdown svg.expand-icon {
  @apply inline-block fill-current transition transform rotate-0 align-sub;
}

.header-nav .dropdown.open svg.expand-icon {
  @apply rotate-180;
}

.header-nav .currency-selector.dropdown.open button {
  @apply bg-black;
}

.header-nav select.link {
  @apply hidden;
}

.header-nav .ps_languageselector,
.header-nav .ps_currencyselector {
  @apply hidden tablet-narrow:block;
}

div.inpost-shipping-container{
  @apply bg-transparent;
}

div.inpost-shipping-container .btn{
  @apply whitespace-normal;
}

.order-message-form a {
  @apply hover:text-main;
}

[data-icons-swiper] .swiper-slide{
  @apply flex items-center justify-center;
}

[data-icons-swiper] .swiper-slide .swiper-slide_container{
  @apply flex flex-nowrap items-center justify-center px-5 tablet:px-10;
}

[data-icons-swiper] .swiper-slide .swiper-slide_container svg{
  @apply w-8 tablet:w-10 aspect-square mr-2 tablet:mr-5 shrink-0;
}

[data-icons-swiper] .swiper-slide .swiper-slide_container p{
  @apply tablet:max-w-[200px] text-white text-xs tablet:text-base text-left;
}

.swiper-nav-container{
  @apply absolute z-10 top-0 bottom-0 flex items-center
}

.swiper-icons-prev, .swiper-icons-next{
  @apply desktop:hidden w-5 fill-[#666] cursor-pointer transition duration-300
}

.swiper-icons-prev.swiper-button-disabled, .swiper-icons-next.swiper-button-disabled{
  @apply opacity-25 !cursor-default
}

[data-categories-swiper]:not(.swiper-container-initialized) .swiper-slide{
  @apply basis-full phablet:basis-1/2 tablet-narrow:basis-1/3
}

.top-logo{
  @apply !w-[200px] phone-wide:!w-auto
}

#search_block_top #searchbox{
  @apply !p-1 tablet:!p-[10px] !h-10 tablet:!h-[50px] tablet-narrow:tablet:!h-[62px]
}

#search_block_top .btn.button-search{
  @apply !px-2 !py-[7px] tablet:!p-[10px] !min-w-0 tablet:!min-w-[40px] !right-1 tablet:!right-[9px]
}

#search_category{
  @apply !h-[34px] tablet:!h-10
}

.page-index #header{
  @apply !pb-0 tablet:!pb-5
}

[data-paypal-source-page="product"]{
  @apply !float-left !mr-0 !mt-2.5 !ml-[89px] w-full
}

[data-paypal-source-page="payment-step"] [paypal-button-container] > div.paypal-buttons{
  @apply overflow-hidden rounded-full
}
.pay-methods{
  @apply flex flex-wrap
}

.pay-methods .pay-methods__item-inner {
  @apply h-full 
}

.pay-methods__item-inner label{
  @apply h-full m-0 p-2 tablet:p-3 justify-center items-center
}

.pay-methods__item-inner label .pay-methods__img{
  @apply !max-h-full
}

.payMethod{
  @apply max-w-[calc(50%_-_6px)]
}

.payMethod.payMethodEnable{
  @apply border border-[#313131] border-solid !bg-[#313131]/20 hover:!bg-[#313131]
}

#payment-option-2-additional-information{
  @apply flex flex-col
}

[data-banner-swiper] .carousel-control{
  @apply opacity-0 pointer-events-none z-10
}
[data-banner-swiper]:hover .carousel-control{
  @apply tablet:opacity-100 tablet:pointer-events-auto
}
[data-banner-swiper] .carousel-control.left{
  @apply translate-x-8
}
[data-banner-swiper] .carousel-control.right{
  @apply -translate-x-8
}
[data-banner-swiper]:hover .carousel-control.left{
  @apply right-auto translate-x-0
}
[data-banner-swiper]:hover .carousel-control.right{
  @apply left-auto translate-x-0
}
.payment-logos {
  gap: 20px;
}

.payment-logos svg{
  @apply bg-white rounded-[5px] w-auto h-10
}
