/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

.ambasador-text{
    max-width: 600px;
    width: 100%;
	z-index: 10;
    margin-top: 40px;
    margin-bottom: 40px;
   z-index: 1;
}

@media(min-width: 992px){
.ambasador-text{
   margin-top: 80px;
}
}

.ambasador-text h2{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.ambasador-text .card{
    border-width: 1px;
	padding: 10px;
}

.ambasador-text .card p{
    margin-top: 10px;
	margin-bottom: 0;
}

.ambasador-form {
    margin: auto;
    float: none;
}

.ambasador-form .form-maker-form{
    background: transparent;
    box-shadow: none;
}

.ambasador-form .form_maker_captcha label{
	    color: #fff;
}

.ambasador-form .form-footer{
	text-align:center!important;
}

.ambasador-person{
	position: absolute;
	top: auto;
	left: 0;
	z-index: 0;
	bottom: 0;
    opacity: 0.4;
}

@media(min-width: 992px){
.ambasador-person{
	position: relative;
	opacity: 1;
}
}

.ambasador-form .form_maker_captcha{text-align:center;}

.ambasador-form form{
    margin-top: 40px;
}

@media(min-width: 992px){
.ambasador-form form{
   margin-top: 80px;
}
}




.ambasador-form .custom-checkbox{
    border-radius: 10px;
    line-height: 13px;
}

.ambasador-form .custom-checkbox .checkbox-checked{
    border-radius: 10px;
    line-height: 13px;
}

.ambasador-form .custom-checkbox .checkbox-checked:before{
    margin: 1px;
    font-size: 16px;
}

.ambasador-form label{color:#fff;}

.payu-method-description.payu-checkout-installment{
    margin-bottom: 20px;
    margin-left: 40px;
}

@media(min-width: 768px){
    .payu-method-description.payu-checkout-installment{
        margin-left: 0;
    }
}

#tttop-link-block li a{
    border-radius: 8px;
    transition: none !important;
}
#tttop-link-block li a:hover{
    background: #A8D727;
}

ul#tttoplink{
    display: flex;
    flex-direction: column;
}

@media(min-width: 1000px){
    ul#tttoplink{
        flex-direction: row;
    }
}

li.tttoplink:has( a[title="Hot Deals!"]){
    order: -1;
}

.tttoplink a[title="Hot Deals!"]::after{
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 82.14 122.88' fill='%23f00' style='enable-background:new 0 0 82.14 122.88' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M75,80.53c1.09-11.23-0.67-21.99-7.36-34.73c-1.37,8.96-4.51,14.01-11.31,20.53c-2.97-17.65-12.67-34.14-21.9-49.42 c0.54,20.29-6.07,49.28-19.71,64.91c-1.67-8.15-0.47-12.35-1.55-20.57c-1.83,7.34-5.64,11.96-6.69,22.07 c-0.85,8.25,1.47,15.26,5.77,20.64c4.8,6,12.08,10.05,20.23,11.63C56.08,120.16,72.75,103.65,75,80.53L75,80.53z M59.64,117.53 c-4.74,3.09-9.29,4.64-14,5.15c-4.59,0.5-9.23,0.01-14.32-0.97c-9.56-1.85-18.16-6.68-23.91-13.87 c-18.06-22.57,2.36-46.03,3.81-71.92c6.31,7.7,6.95,12.2,8.09,22.31c0.12,1.07,0.22,2.14,0.3,3.21c2.61-6.6,4.57-13.56,5.93-20.43 c2.97-15,3.13-26.27,0.18-41.01c10.94,6.6,16.63,15.28,22.86,26.61c3.84,7,7.52,14.32,10.81,23.37c2.35-9.32,2.9-12.34,0.47-22.3 C88.44,45.72,90.75,97.2,59.64,117.53L59.64,117.53z'/%3E%3C/g%3E%3C/svg%3E");
    margin-top: -4px;
    margin-left: 5px;
    display: inline-block;
    width: 12px;
    height: 12px;
}
#tttop-link-block .tttoplink a[title="Hot Deals!"]::after{
    transform: translateY(-4px);
}